/* mini phone */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* phone */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
/* super desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}


:root {
  --colorFg1: #888;
  --colorFg2: #6b7684;
  --colorFg3: #fff;
  --colorBg1: #191f28;
  --colorBg2: #111;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  background-color: var(--colorBg2);
}

footer * {
  color: var(--colorFg1);
}

footer a {
  text-decoration-line: none;
  color: var(--main-txt-color-dark);
}

.section_terms-wrapper {
  font-size: 12px;
  margin-top: 15px;
}
